<div id="<%= dom_id gestor %>">
  <p>
    <strong>Nombre:</strong>
    <%= gestor.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= gestor.descripcion %>
  </p>

  <p>
    <strong>Fechacom:</strong>
    <%= gestor.fechacom %>
  </p>

  <p>
    <strong>Fechater:</strong>
    <%= gestor.fechater %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= gestor.estado %>
  </p>

</div>
